akka {
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  loglevel = "INFO" # ERROR, WARNING, INFO, DEBUG
}

spray.can.server {
  idle-timeout = 15s
  request-timeout = 5s
  request-chunk-aggregation-limit = 0
}

gitgrid {
  repositoriesDir = "repositories"
}

gitgrid.mongodb {
  host = "localhost"
  port = 27017
  database = "gitgrid-production"
}
