h1 Tree
ol.breadcrumb(data-bind="foreach: pathParts")
    li: a(href="#", data-bind="text: name, attr: { href: url }")

ul(data-bind="foreach: branches")
    li: a(href="#", data-bind="click: function () { $parent.changeToBranch(name) }, text: name")

ul(data-bind="foreach: tags")
    li: a(href="#", data-bind="click: function () { $parent.changeToTag(name) }, text: name")

ul.list-group(data-bind="foreach: tree.entries")
    // ko if: objectType == 'tree'
    li.list-group-item
        span.glyphicon.glyphicon-folder-open(style="margin-right: 0.5em;")
        a(href="#", data-bind="text: name, attr: { href: $parent.entryUrl($data) }")
    // /ko

ul.list-group(data-bind="foreach: tree.entries")
    // ko if: objectType == 'blob'
    li.list-group-item
        span.glyphicon.glyphicon-file(style="margin-right: 0.5em;")
        a(href="#", data-bind="text: name, attr: { href: $parent.entryUrl($data) }")
    // /ko
