include ../mixins/inputelements

.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
    form(autocomplete="off", data-bind="submit: login")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", aria-hidden="true", data-bind="click: cancel", data-dismiss="modal") &times;
                    h4.modal-title Login
                .modal-body
                    +input-text("userName", "User name", "Your user name")(data-bind="value: userName, disable: busy, hasFocus: focus() == 'userName'")
                    +input-password("password", "Password", "Your password")(data-bind="value: password, disable: busy, hasFocus: focus() == 'password'")
                .modal-footer
                    button.btn.btn-primary(type="submit", data-bind="click: login") Login
                    button.btn.btn-default(type="button", data-dismiss="modal") Cancel
