a#brand.pull-left(href="/") assert:hub
nav.pull-right
    ul
        li(data-bind="visible: !isAuthenticated()"): a(href="#", data-bind="click: login") Login
        li(data-bind="visible: isAuthenticated()"): a(href="#", data-bind="click: logout") Logout
