include ../../mixins/inputelements

div.row
    div.col-xs-9
        h1 Blob
    div.col-xs-3
        +input-select-single-bind("ref", "Reference", "Choose a base reference", "ref", "{ options: refs, valueField: 'name', labelField: 'name' }")

ol.breadcrumb(data-bind="foreach: pathParts")
    li: a(href="#", data-bind="text: name, attr: { href: url }")

pre(data-bind="text: blob")
