include ../../mixins/inputelements

h1 New Ticket
form(data-bind="submit: add")
    +input-text-bind("title", "Title", "A short title", "ticket.title")
    +input-textarea-bind("description", "Description", "The detailed description", 10, "ticket.description")
    +input-submit-bind("Create", "add").btn-primary
