include ../../mixins/inputelements

div.pull-right.btn-group
    button.btn.ptn-default(data-bind="click: modify") Save
h1 Edit Ticket
form(data-bind="submit: modify")
    +input-text-bind("title", "Title", "A short title", "ticket.title")
    +input-textarea-bind("description", "Description", "The detailed description", 10, "ticket.description")
