div.pull-right
    a.btn.btn-default(href="/tickets/create")
        span.glyphicon.glyphicon-plus
        | Create

h1 Tickets

table.table
    thead
        tr
            td ID
            td Title
    tbody(data-bind="foreach: tickets")
        tr
            td: a(href="#", data-bind="text: id, attr: { href: '/tickets/' + id() }")
            td(data-bind="text: title")
