doctype 5
html
    head
        meta(charset="utf-8")
        title assert:hub
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/styles/main.css")
        script(data-main="/src/app", src="/bower_components/requirejs/require.js", async)
    body
        div#wrap
            header.clearfix
                div.container
                    include partials/header
            div.clearfix
                section#content.container
        footer.clearfix
            div.container
                include partials/footer
